<ion-view view-title="Carga de imágenes">
    <ion-content has-footer="true">    
        <div class="row">
            <div class="col text-center">
                <button class="button button-positive" ng-click="vm.getImages()">Agregar imagen</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list">
                    <div class="item" ng-repeat="image in vm.images" ng-click="vm.editDescription($index)">
                        <div class="row">
                            <div class="col col-33">
                                <img class="rounded" ng-click="vm.show($index); $event.stopPropagation();" width="50" height="50" ng-src="{{ image.thumbnail }}">
                            </div>
                            <div class="col col-33" style="margin-top: 5%;">
                                <span>{{ image.description }}</span>
                            </div>
                            <div class="col col-33 pull-right">
                                <button class="button rounded" ng-click="vm.remove($index); $event.stopPropagation();">
                                    <i class="ion-trash-a"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button class="small button button-positive" ng-click="vm.save()">
                    Guardar <i class="ion-ios-download"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
