<ion-view view-title="Editar Categorías">
    <ion-content>
        <div class="row" ng-if="!categories.isEditing()">
            <div class="col">
                <div class="row">
                    <div class="col text-center">
                        <button ng-click="categories.create()" class="button button-positive">
                            <i class="ion-plus-round"></i>
                            <span>Agregar Categor&iacute;a</span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <ion-list>
                          <ion-item ng-repeat="item in categories.items track by item.id">
                            <div class="row">
                                <div class="col col-50">
                                    <span>{{ item.description }}</span>
                                </div>
                                <div class="col col-50">
                                    <span class="pull-right">
                                    <button ng-click="categories.edit(item)" class="button button-balanced">
                                        <i class="ion-edit"></i>
                                    </button>
                                    <button ng-click="categories.delete(item)" class="button button-assertive">
                                        <i class="ion-trash-a"></i>
                                    </button>
                                    </span>
                                </div>
                            </div>
                          </ion-item>
                        </ion-list>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="categories.isEditing()">
            <div class="col text-center">
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Categor&iacute;a</span>
                                <input ng-model="categories.editingItem.description"  type="text" placeholder="Categor&iacute;a">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" ng-class="{ 'col-33': categories.editingItem.id, 'col-50' : !categories.editingItem.id }">
                        <button ng-click="categories.save()" class="button button-positive">
                            <i class="ion-ios-download"></i>
                            <span>Guardar</span>
                        </button>
                    </div>
                    <div class="col col-33" ng-show="categories.editingItem.id">
                        <button ng-click="categories.delete(categories.editingItem)"
                                class="button button-assertive">
                            <i class="ion-trash-a"></i>
                            <span>Eliminar</span>
                        </button>
                    </div>
                    <div class="col" ng-class="{ 'col-33': categories.editingItem.id, 'col-50' : !categories.editingItem.id }">
                        <button ng-click="categories.cancel()" class="button button-stable">
                            <i class="ion-android-cancel"></i>
                            <span>Cerrar</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
