<ion-content>
  <ion-list>
    <ion-item class="item-divider">
        <span class="italic-bold">Categor&iacute;as</span>
    </ion-item>
    <ion-item menu-toggle ng-repeat="categoria in categorias" ui-sref="app.pictures({categoryId: categoria.id})" ng-if="categoria.image_counter > 0">
      &nbsp;&nbsp;&nbsp;{{ categoria.description }} <span class="badge badge-positive">{{categoria.image_counter}}</span>
    </ion-item>
    <ion-item class="item-divider">
        Configuraci&oacute;n
    </ion-item>
    <ion-item menu-toggle ui-sref="app.addpictures">
      Cargar im&aacute;genes
    </ion-item>
    <ion-item menu-toggle ui-sref="app.categories">
      Administrar Categor&iacute;as
    </ion-item>
  </ion-list>
</ion-content>