<ion-content>
  <ion-list>
    <ion-item menu-close href="#/app/browse">
      Cargar im&aacute;genes
    </ion-item>
    <ion-item class="item-divider">
        Categor&iacute;as
    </ion-item>
    <ion-item ng-repeat="categoria in categorias" menu-close href="#/app/categories">
      &nbsp;&nbsp;&nbsp;{{ categoria.description }}
    </ion-item>
    <ion-item class="item-divider">
        Configuraci&oacute;n
    </ion-item>
    <ion-item menu-close href="#/app/categories">
      Administrar Categor&iacute;as
    </ion-item>
  </ion-list>
</ion-content>